fastapi==0.111.0
pydantic==2.3.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.9
uvicorn==0.30.1
sqlalchemy==2.0.31
psycopg2-binary==2.9.9
alembic==1.13.2
pydantic-settings==2.2.1
bcrypt==4.2.0
emails==0.6
PyJWT==2.5.0
sqlmodel==0.0.19
tenacity==8.2.3
